<p id="notice"><%= notice %></p>

<h1>Admin Profile</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.name %></td>
      <td><%= admin.email %></td>
      <td><%= link_to 'Show', admin %></td>
      <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
      <!--        <td><%#= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<!--<h2>Admin Functionalities</h2>-->
<%#= link_to '<button type="button">Create Admin</button>'.html_safe, new_admin_path %>
<!--<br><%#= link_to 'Show', admins_path %>-->
<br><br>
<h2>Companies Functionalities</h2>
<%= link_to 'List Companies',  controller: "companies", action: "create", id: @companies %>
<br><br><%= link_to '<button type="button">Create Company</button>'.html_safe, new_company_path %>
<%#= link_to 'New Company', new_company_path %>

<br><br>
<h2>Realtor Functionalities</h2>
<%= link_to 'List Realtors',  controller: "realtors", action: "create", id: @realtors  %>
<br><br><%= link_to '<button type="button">Create Realtor</button>'.html_safe, new_realtor_path %>


<br><br>
<h2>House Hunter Functionalities</h2>
<%= link_to 'List House Hunters',  controller: "house_hunters", action: "create", id: @house_hunters  %>
<br><br><%= link_to '<button type="button">Create House Hunter</button>'.html_safe, new_house_hunter_path %>

<br><br>
<h2>Houses Functionalities</h2>
<%= link_to 'View Houses', houses_path %>
<br><br><%= link_to '<button type="button">New House</button>'.html_safe, new_house_path %>


<br><br>
<h2>Inquiries Functionalitites</h2>
<%= link_to 'View Inquiries', inquiries_path %>
<br><br><%= link_to '<button type="button">New Inquiry</button>'.html_safe, new_inquiry_path %>

<%#= link_to 'View Houses', houses_path %>
<br><br>
<%#= link_to 'View Inquiries', inquiries_path %>