<% if logged_in? %>
<p id="notice"><%= notice %></p>
  <h1>Houses</h1>
<div class="jumbotron">
  <table class ="table">
    <thead class ="thead-dark">
    <tr>
      <th scope ="col">Name</th>
      <th scope ="col">Location</th>
      <th scope ="col">Company</th>
      <th scope ="col">Area</th>
      <th scope ="col">Year</th>
      <th scope ="col">Style</th>
      <th scope ="col">Price</th>
      <th scope ="col">Floors</th>
      <th scope ="col">Basement</th>
      <th scope ="col">Owner</th>
      <th scope ="col">Realtor's Contact</th>
      <th scope ="col">Buyers</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>

    <% @houses.each do |house| %>
    <% if session[:role] == 'Realtor' && current_user.company_id == house.company_id || session[:role] == 'House Hunter' || session[:role] == 'Admin' %>
      <tr>
        <td scope ="row"><%= house.name %></td>
        <td scope ="row"><%= house.location %></td>
        <td scope ="row"><%= house.company.name %></td>
        <td scope ="row"><%= house.area %></td>
        <td scope ="row"><%= house.year %></td>
        <td scope ="row"><%= house.style %></td>
        <td scope ="row"><%= house.price %></td>
        <td scope ="row"><%= house.floors %></td>
        <td scope ="row"><%= house.basement %></td>
        <td scope ="row"><%= house.owner %></td>
        <td scope ="row"><%= house.realtor.name %></td>
        <td scope ="row"><%= house.buyers %></td>
        <td><%= link_to 'Show', house %></td>
        <td>
          <% unless session[:role] == 'House Hunter'%>  <%# Only Logged in Realtor and Admin has access %>
            <%= link_to 'Edit', edit_house_url(house) %>
            <%= link_to 'Delete', { method: :delete, data: { confirm: 'Are you sure?' } } %>
            <%= link_to 'Potential Buyers', "/favourites/potential_buyers/#{house.id}"  %>
          <%end %>
          <% if session[:role] == 'House Hunter' %>
            <%= link_to 'Favourite', "/favourites/add/#{current_user.id}/#{house.id}"%>
            <% end %>
        </td>
      </tr>
    <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
  <br>
  <td>
    <%= link_to "Search Houses", new_search_path %></td>
  <% if session[:role] == 'Realtor' || session[:role] == 'Admin' %>
    <%= link_to "New House", { :controller => "houses", :action => "new" } %>
    <% end %>
  <% else %>
  <script type="text/javascript">
      window.location.href="/login"  // put your correct path in a string here
  </script>
<% end %>
