<%= form_with(model: realtor, local: true) do |form| %>
  <% if realtor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realtor.errors.count, "error") %> prohibited this realtor from being saved:</h2>

      <ul>
      <% realtor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# ----------------NAME---------------%>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :realtor_name %>
  </div>

  <%# ----------------EMAIL---------------%>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :realtor_email %>
  </div>

    <%# ----------------PASSWORD---------------%>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :realtor_password%>
    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation, id: :realtor_password %>
  </div>

  <%# ----------------PHONE---------------%>
  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :realtor_phone %>
  </div>

  <%# ----------------COMPANY---------------%>
  <%= form.label :company_id %>
  <%= select("realtor", "company_id", Company.all.collect{ |c| [ c.name, c.id ] if c.id !=1}) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
