<% if logged_in?%>
  <% if session[:role] == 'House Hunter' %>
    <script type="text/javascript">
        window.location.href="/house_hunters/<%= current_user.id %>"
    </script>
  <% else %>
<p id="notice"><%= notice %></p>
<h2>Profile</h2>
<p>
  <strong>Name:</strong>
  <%= @realtor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @realtor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @realtor.phone %>
</p>

<p>
  <strong>Company:</strong>
  <% if @realtor.company_id != 1 %>
    <%= @realtor.company.name %>
    <% else %>
    <%= link_to 'Choose existing company', edit_realtor_path(@current_user) %>  |  <%= link_to 'Add your company', new_company_path %>
    <% end %>
</p>
<%= link_to 'Edit Profile', edit_realtor_path(@current_user) %>
<br>
 <%= link_to 'View Houses', houses_path %><br>
 <%= link_to 'Post House', new_house_path %><br>
  <%= link_to 'View Inquiries', inquiries_path %>
    <br>
  <% end %>
<% else %>
  <script type="text/javascript">
      window.location.href="/login"  //Redirect to login for unlogged in users
  </script>
<% end %>