<p id="notice"><%= notice %></p>
<% if logged_in? && session[:role] == 'House Hunter' || session[:role] == 'Admin' %>
<h1>Favourites</h1>

<table>
  <thead>
    <tr>
      <% if session[:role] == 'Admin' %>
      <th>House Hunter</th>
        <% end %>
      <th>House</th>
      <th>Realtor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourites.each do |favourite| %>
      <tr>
        <% if session[:role] == 'Admin' %>
        <td><%= favourite.house_hunter.name %></td>
        <td><%= favourite.house.name %></td>
        <td><%= favourite.house.realtor.name %></td>
        <td><%= link_to "View #{favourite.house.name}", favourite.house %></td>
        <td><%= link_to 'Remove', favourite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% else %>
        <% if current_user.id == favourite.house_hunter_id %>
            <td><%= favourite.house.name %></td>
            <td><%= favourite.house.realtor.name %></td>
            <td><%= link_to "View house", favourite.house %></td>
            <td><%= link_to 'Remove', favourite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% else %>
  <script type="text/javascript">
      window.location.href="/login"  // put your correct path in a string here
  </script>
<% end %>