<% if logged_in? %>
  <% if session[:role] == 'House Hunter'%>
    <script type="text/javascript">
        window.location.href="/house_hunters/<%= current_user.id %>"  // put your correct path in a string here
    </script>
  <% else %>
<p id="notice"><%= notice %></p>

<h1>Potential Buyers</h1>

    <div class="jumbotron">
      <table class="table">
        <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @favourites.each do |favourite| %>
    <tr>
      <td scope="row"><%= favourite.house_hunter.name %></td>
      <td scope="row"><%= favourite.house_hunter.email %></td>
      <td scope="row"><%= favourite.house_hunter.phone %></td>
    </tr>
  <% end %>
  </tbody>
</table>
    </div>
<br>
    <a href="javascript:history.back()">Back</a>
  <% end %>
<% else %>
  <script type="text/javascript">
      window.location.href="/login"  //Redirect to login for unlogged in users
  </script>
<% end %>