<% if logged_in? %>
  <% if @company.id == 1 %>
    <script type="text/javascript">
        window.location.href="/companies"
    </script>
    <% else %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Employee Count</strong>
  <%= @company.size %>
</p>

<p>
  <strong>Year:</strong>
  <%= @company.year %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @company.revenue %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @company.synopsis %>
</p>
<% if session[:role] == 'Admin' || session[:role] == 'Realtor' && current_user.company_id == @company.id  %>
<%= link_to 'Edit', edit_company_path(@company) %>
  <% end %>
  <a href="javascript:history.back()">Back</a>
    <% end %>
<% else %>
  <script type="text/javascript">
      window.location.href="/login"  // put your correct path in a string here
  </script>
<% end %>