<h1>Search Houses</h1>

<%= form_for @search do |f| %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :min_price, "Price Range" %><br />
    <%= f.text_field :min_price, size: 10 %> -
    <%= f.text_field :max_price, size: 10 %>
  </div>
  <div class="field">
    <%= f.label :min_area, "Area Range" %><br />
    <%= f.text_field :min_area, size: 10 %> -
    <%= f.text_field :max_area, size: 10 %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
