<% if logged_in?%>
  <% if session[:role] == 'Realtor' %>
    <script type="text/javascript">
    window.location.href="/realtors/<%= current_user.id %>"
    </script>
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @house_hunter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @house_hunter.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @house_hunter.phone %>
</p>

<%= link_to 'Edit', edit_house_hunter_path(@house_hunter) %> <br><br>

<%= link_to 'View Inquiries', inquiries_path %><br><br>

<%= link_to 'View Houses', houses_path %><br><br>

<%= link_to 'View Companies', companies_path %><br><br>

<%= link_to 'View Favourites', favourites_path %><br><br>
    <%end %>
<% else %>
  <script type="text/javascript">
      window.location.href="/login"  //Redirect to login for unlogged in users
  </script>
<% end %>

