<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= current_user.phone %>
</p>

<%= link_to 'Edit', edit_house_hunter_path(@house_hunter) %> <br><br>

<%= link_to 'View Inquiries', inquiries_path %><br><br>

<%= link_to 'View Houses', houses_path %><br><br>

<%= link_to 'View Companies', companies_path %><br><br>

<%= link_to 'View Favourites', favourites_path %><br><br>


