<%= form_with(model: inquiry, local: true) do |form| %>
  <% if inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# ------------HOUSE------------- %>
  <%= form.label "House" %>
  <%= select("inquiry", "house_id", House.all.collect{ |c| [ c.name, c.id ]}, { include_blank: true }) %>

  <%#-------------SUBJECT----------- %>
  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :inquiry_subject %>
  </div>

  <%# ------------MESSAGE------------ %>
  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :inquiry_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
