<p id="notice"><%= notice %></p>

<h1>Inquiries</h1>

    <% @inquiries.each do |inquiry| %>
  <% if session[:role] == 'Admin' || (session[:role] == 'House Hunter' && inquiry.house_hunter_id == current_user.id) || (session[:role] == 'Realtor' && inquiry.house.company_id == current_user.company_id) %>
       <p>
         <strong>From: </strong> <%= inquiry.house_hunter.name%>
       </p>
         <p>
          <strong>House: </strong> <%= inquiry.house.name %>
        </p>
        <p>
          <strong>Subject: </strong><%= inquiry.subject %>
        </p>
        <p>
         <strong>Inquiry: </strong> <%= inquiry.message %>
        </p>


        <% unless session[:role] == 'Realtor' %>
            <% unless @replies.where(inquiry_id: inquiry.id).nil? %>
              <a href="#" id="toggler">View/Hide Replies</a>
        <div id="toggled" class="hidden">
        <% @replies.where(inquiry_id: inquiry.id).each do |reply| %>
          <p><%= reply.realtor.name %>'s Reply:<%= reply.message %></p>
          <% end %>
        </div>
          <% end %>
            <%end %>

        <%= link_to 'Show', inquiry %>
        <% unless session[:role] == 'Realtor' %>
        <%= link_to 'Edit', edit_inquiry_path(inquiry) %>
        <%= link_to 'Destroy', inquiry, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% unless session[:role] == 'House Hunter' %>
        <%= link_to 'Reply', new_reply_path(:inquiry_id => inquiry.id) %>
        <% end %>
    <br>
  <% end %>
    <% end %>
<br><br>
<% unless session[:role] == 'Realtor' %>
<%= link_to 'New Inquiry', new_inquiry_path %>
<% end %>
<br>
<script>
    $(document).ready(function(){
        $("#toggler").click(function(){
            $("#toggled").toggle();
        });
    });
</script>