<% if logged_in? %>
  <% if session[:role] == 'Admin' ||
        session[:role] == 'House Hunter' && current_user.id == @inquiry.house_hunter_id ||
        session[:role] == 'Realtor' && @realtor.company_id == @inquiry.house.company_id%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @inquiry.message %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', current_user %>
<% else %>
    <% if session[:role] == 'Realtor' %>
      <script type="text/javascript">
          window.location.href="/realtors/<%= current_user.id %>"
      </script>
<% else %>
      <% if session[:role] == 'House Hunter' %>
        <script type="text/javascript">
            window.location.href="/house_hunter/<%= current_user.id %>"
        </script>
<% end %>
      <% end %>
    <% end %>
<% else %>
        <script type="text/javascript">
            window.location.href="/login"
        </script>
<% end %>