<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=K2D|Kodchasan" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  </head>
  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Housing Solutions", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          <li><%= link_to "Home Page",    @current_user %></li>
          <li> <%= link_to 'Log out'.html_safe, '/logout', method: :delete %></li>
            <% else %>
            <li><%= link_to "Home",  '/home' %></li>
            <li><%= link_to "Log in", '/login' %></li>
            <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  <br>
  </body>
 </html>
